In [ ]:
import pandas as pd
var = pd.read_csv("/content/drive/MyDrive/train.csv")
print(var)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [ ]:
import pandas as pd
target = var['price_range']
print("Target column is:")
print(target)
#features = file2[['longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income']]
features = var.drop(columns = 'price_range')
print("feature column is:")
print(features)

Target column is:
0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64
feature column is:
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [ ]:
import numpy as np

# create an array
data = np.array(var)
normalizedData = (data-np.min(data))/(np.max(data)-np.min(data))
# normalized data using min max value
#file2 = normalizedData
print(normalizedData)

[[2.10605303e-01 0.00000000e+00 5.50275138e-04 ... 0.00000000e+00
  2.50125063e-04 2.50125063e-04]
 [2.55377689e-01 2.50125063e-04 1.25062531e-04 ... 2.50125063e-04
  0.00000000e+00 5.00250125e-04]
 [1.40820410e-01 2.50125063e-04 1.25062531e-04 ... 2.50125063e-04
  0.00000000e+00 5.00250125e-04]
 ...
 [4.77988994e-01 0.00000000e+00 2.25112556e-04 ... 2.50125063e-04
  0.00000000e+00 7.50375188e-04]
 [3.78189095e-01 0.00000000e+00 2.25112556e-04 ... 2.50125063e-04
  2.50125063e-04 0.00000000e+00]
 [1.27563782e-01 2.50125063e-04 5.00250125e-04 ... 2.50125063e-04
  2.50125063e-04 7.50375188e-04]]

In [2]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [ ]:
data = np.array(features)
scaler = MinMaxScaler(feature_range = (0,1))
#print(scaler.fit(data))
#print(scaler.transform(data))
xtrain_norm = scaler.fit_transform(features)
print('normalized data of feautures set:')
print(xtrain_norm)
print("normalized data of target column:")
'''ytrain_norm = scaler.fit_transform(target)
print(ytrain_norm)'''

normalized data of feautures set:
[[0.22778891 0.         0.68       ... 0.         0.         1.        ]
 [0.34736139 1.         0.         ... 1.         1.         0.        ]
 [0.04141617 1.         0.         ... 1.         1.         0.        ]
 ...
 [0.94188377 0.         0.16       ... 1.         1.         0.        ]
 [0.6753507  0.         0.16       ... 1.         1.         1.        ]
 [0.00601202 1.         0.6        ... 1.         1.         1.        ]]
normalized data of target column:

'ytrain_norm = scaler.fit_transform(target)\nprint(ytrain_norm)'

In [ ]:
import math
X=var
print("Enter the splitting factor (i.e) ratio between train and test")
s_f = float(input())
n_train = math.floor(s_f * X.shape[0])
n_test = math.ceil((1-s_f) * X.shape[0])
X_train = features[:n_train]
y_train = target[:n_train]
X_test = features[n_train:]
y_test = target[n_train:]
print("Total Number of rows in train:",X_train.shape[0])
print("Total Number of rows in test:",X_test.shape[0])

Enter the splitting factor (i.e) ratio between train and test
0.9
Total Number of rows in train: 1800
Total Number of rows in test: 200

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(xtrain_norm,target, test_size=float(input()), random_state=42)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

0.9
X_train shape: (200, 20)
X_test shape: (1800, 20)
y_train shape: (200,)
y_test shape: (1800,)

In [3]:
import pandas as pd
data01 = pd.read_csv("/content/drive/MyDrive/heart.csv")
print(data01)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [48]:
import pandas as pd
target00 = data01['target']
print("Target column is:")
print(target00)
#features = file2[['longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income']]
features01 = data01.drop('target',axis = 1)
print("feature column is:")
print(features01)

Target column is:
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64
feature column is:
     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [62]:
import numpy as np
X = features01
xtrain_norm01 = (X - np.min(X, axis=0)) / (np.max(X, axis=0) - np.min(X, axis=0))
print('normalized data of feautures set:')
print(xtrain_norm01)
target01 = np.where(target00 > 0, 1, 0)
print(target01)

normalized data of feautures set:
          age  sex        cp  trestbps      chol  fbs  restecg   thalach  \
0    0.708333  1.0  1.000000  0.481132  0.244292  1.0      0.0  0.603053
1    0.166667  1.0  0.666667  0.339623  0.283105  0.0      0.5  0.885496
2    0.250000  0.0  0.333333  0.339623  0.178082  0.0      0.0  0.770992
3    0.562500  1.0  0.333333  0.245283  0.251142  0.0      0.5  0.816794
4    0.583333  0.0  0.000000  0.245283  0.520548  0.0      0.5  0.702290
..        ...  ...       ...       ...       ...  ...      ...       ...
298  0.583333  0.0  0.000000  0.433962  0.262557  0.0      0.5  0.396947
299  0.333333  1.0  1.000000  0.150943  0.315068  0.0      0.5  0.465649
300  0.812500  1.0  0.000000  0.471698  0.152968  1.0      0.5  0.534351
301  0.583333  1.0  0.000000  0.339623  0.011416  0.0      0.5  0.335878
302  0.583333  0.0  0.333333  0.339623  0.251142  0.0      0.0  0.786260

     exang   oldpeak  slope    ca      thal
0      0.0  0.370968    0.0  0.00  0.333333
1      0.0  0.564516    0.0  0.00  0.666667
2      0.0  0.225806    1.0  0.00  0.666667
3      0.0  0.129032    1.0  0.00  0.666667
4      1.0  0.096774    1.0  0.00  0.666667
..     ...       ...    ...   ...       ...
298    1.0  0.032258    0.5  0.00  1.000000
299    0.0  0.193548    0.5  0.00  1.000000
300    0.0  0.548387    0.5  0.50  1.000000
301    1.0  0.193548    0.5  0.25  1.000000
302    0.0  0.000000    0.5  0.25  0.666667

[303 rows x 13 columns]
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0]

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(xtrain_norm01,target01, test_size=0.3, random_state=42)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (212, 13)
X_test shape: (91, 13)
y_train shape: (212,)
y_test shape: (91,)

In [83]:
x = xtrain_norm01
y_p = []
def perceptron(weights :list[float], bias : float) -> list[float]:
    #z = bias
    for i in range(len(x)):
        z = bias
        for j in range(len(weights)):
            z += x[i][j] * weights[j]
        s = 1 / (1 + np.exp(-z))
        if (s >= 0.5):
            y_p.append(1)
        else:
            y_p.append(0)
    return y_p

In [ ]:
y_predict = perceptron([-2,-0.1,0.3,0.1,0.2,0.3,0.1,0.2,0.3,0.1,0.2,0.3,0.1],0.5)

In [84]:
comparison = np.array(y_predict) == np.array(target01)
accuracy = sum(comparison) / len(target01)
print("Accuracy:", accuracy)

Accuracy: 0.46204620462046203

In [75]:
print("Shape of xtrain_norm01:", xtrain_norm01.shape)
print("Shape of target01:", target01.shape)
if xtrain_norm01.shape[0] != target01.shape[0]:
    target01 = target01.reshape(xtrain_norm01.shape[0],)

Shape of xtrain_norm01: (303, 13)
Shape of target01: (303,)

In [ ]:
import random
import numpy as np
from sklearn.metrics import accuracy_score
accuracies = []
for i in range(20):
    weights = [random.uniform(-1, 1) for _ in range(len(xtrain_norm01[0]))]
    bias = random.uniform(-1, 1)
    y_p = perceptron(weights, bias)
    accuracy = accuracy_score(target01, y_p)
    accuracies.append(accuracy)
print(accuracies)

In [91]:
import numpy as np
import pandas as pd
q2 = pd.read_csv("/content/drive/MyDrive/heart.csv")
x1 = q2[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']]
x2 = q2['chol']
y_actual = q2['target']
def perceptron(w1, w2, w3, w4, w5, w6, w7, w8, w9, w10, w11, w12, w13, b):
    y_p = []
    for i in range(len(x1)):
        z = x1.iloc[i].dot([w1, w2, w3, w4, w5, w6, w7, w8, w9, w10, w11, w12, w13]) + x2[i] * w2 + b
        s = 1 / (1 + np.exp(-z))
        if s >= 0.5:
            y_p.append(1)
        else:
            y_p.append(0)
    return y_p
weight1 = 0.2
weight2 = 0.6
bias = -0.5
y_pred = perceptron(weight1, weight2, weight1, weight1, weight1, weight1, weight1, weight1, weight1, weight1, weight1, weight1, weight1, bias)
comparison = np.array(y_pred) == np.array(y_actual)
accuracy = sum(comparison) / len(y_actual)
print("Accuracy:", accuracy)
print(y_pred)

Accuracy: 0.5445544554455446
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]